:root {
    /* Paleta de colores extraída de la imagen */
    --color-bg-light: #ffffff;
    --color-bg-dark: #0b2b36;
    /* Azul petróleo oscuro */
    --color-text-main: #333333;
    --color-text-muted: #666666;
    --color-text-light: #ffffff;
    --color-accent: #8e2b43;
    /* Rojo vino/Burgundy */
    --color-gold: #c5a059;

    /* Tipografías */
    --font-script: 'Great Vibes', cursive;
    /* Para nombres */
    --font-serif: 'Cinzel', serif;
    /* Para títulos elegantes */
    --font-sans: 'Lato', sans-serif;
    /* Para cuerpo de texto */
}

@font-face {
    font-family: 'fuente1';
    src: url('./fonts/1.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fuente2';
    src: url('./fonts/2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fuente3';
    src: url('./fonts/3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fuente4';
    src: url('./fonts/4.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fuente5';
    src: url('./fonts/5.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fuente6';
    src: url('./fonts/6.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fuente7';
    src: url('./fonts/7.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fuente8';
    src: url('./fonts/8.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fuente9';
    src: url('./fonts/9.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fuente10';
    src: url('./fonts/10.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    background-color: #f0f0f0;
    font-family: var(--font-sans);
    color: var(--color-text-main);
}

/* Contenedor principal estilo móvil */
.invitation-container {

    position: relative;
    max-width: 480px;
    /* Ancho típico de móvil */
    margin: 0 auto;
    background: var(--color-bg-light);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.invitation-container>* {
    max-height: 47rem;
}

.intro-text {
    font-family: var(--font-serif);
    letter-spacing: 2px;
    font-size: 0.9rem;
    margin-top: 20px;
    color: var(--color-text-muted);
}

.great-day {
    font-family: 'fuente3';
    font-size: 1rem;
    margin-top: 1rem;
    color: black;
    font-weight: 100;
}

.couple-names {
    font-family: 'fuente9';
    font-weight: lighter;
    font-size: 5rem;
    color: var(--color-bg-dark);
    margin: 10px 0;
    line-height: 1.2;
    padding: 0 0.4rem;
}

.couple-names .amp {
    font-size: 3.5rem;
    vertical-align: middle;
    color: var(--color-accent);
}

.date-highlight time {
    display: block;
    font-family: var(--font-serif);
}

.date-highlight .date {
    display: block;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.floral-decoration img {
    max-width: 100%;
    height: auto;
}

.floral-corner img {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 12rem;
}

.floral-corner.bottom-right {
    transform: rotate(-180deg);
    right: 0;
    bottom: 0;
    position: absolute;
}

/* --- SECCIÓN 2: MULTIMEDIA (Fondo Oscuro) --- */
.multimedia-section {
    background-color: rgb(0, 43, 59);
    color: var(--color-text-light);
    padding: 40px 30px;
    text-align: end;
    /* Ligero borde redondeado arriba si se desea */
}

.photo-frame {
    margin-bottom: 30px;
}

.photo-frame img {
    width: 100%;
    border-radius: 20px;
    /* Bordes redondeados de la foto */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    object-fit: cover;
}

/* Reproductor UI */
.music-player {
    margin-bottom: 0.5rem;
}

.progress-bar {
    height: 4px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    margin-bottom: 20px;
    position: relative;
}

.progress-fill {
    width: 30%;
    /* Simulado */
    height: 100%;
    background: var(--color-text-light);
    border-radius: 2px;
}

.progress-handle {
    width: 12px;
    height: 12px;
    background: var(--color-text-light);
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 30%;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.controls button,
.favorite-btn {
    background: none;
    border: none;
    color: var(--color-text-light);
    font-size: 1.2rem;
    cursor: pointer;
}

.controls .play-btn {
    font-size: 3rem;
    /* Botón play más grande */
}

.favorite-btn {
    margin-top: 15px;
    float: right;
}

.bible-verse {
    /* font-style: italic; */
    font-family: 'fuente7';
    margin-top: 0.5rem;
    font-size: 1.1rem;
}

.bible-verse cite {
    display: block;
    margin-top: 10px;
    font-style: normal;
}

/* --- SECCIÓN 3: DETALLES --- */
.details-section {
    background: #fff;
    /* Vuelve a blanco */
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

.countdown-container {
    margin-bottom: 20px;
    font-family: 'fuente7';
    position: relative;
    z-index: 10;
}

.final-secondary-text {
    font-family: 'fuente6';
    font-size: 0.9rem;
    color: rgb(124, 124, 124);
}

.details-section article>h3 {
    font-family: 'fuente4';
    color: black;
    /* color: red */
}

.timer {
    display: flex;
    justify-content: center;
    font-family: var(--font-serif);
    font-size: 1.5rem;
    color: var(--color-text-main);
    margin: 10px 0;
}

.time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-unit small {
    font-size: 0.5rem;
    letter-spacing: 1px;
    margin-top: 5px;
    font-family: var(--font-sans);
}

#segundos {
    color: rgba(135, 37, 37, 0.536);
}


/* Calendario */
.calendar-wrapper h3 {
    background-color: rgba(233, 233, 233, 0.43);
    display: inline-block;
    padding: 5px 0px;
    border-radius: 15px;
    font-family: var(--font-serif);
    font-weight: lighter;
    color: rgb(102, 33, 49);
    margin-bottom: 10px;
    font-size: 1rem;
    margin: 10px auto;
    max-width: 300px;
    display: block;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* gap: 10px; */
    font-family: var(--font-serif);
    font-size: 0.8rem;
    color: var(--color-text-muted);
    max-width: 300px;
    margin: 0 auto 1rem auto;
    background-color: rgba(233, 233, 233, 0.43);
    border-radius: 1rem;
    padding: 1rem;
    color: black;
}

#dias,
#horas,
#minutos {
    color: #224f51
}

.calendar-grid span {
    /* padding: 5px; */
}

.week-days {
    font-weight: bold;
}

.special-day {
    position: relative;
    color: var(--color-accent);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special-day i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    color: rgba(142, 43, 67, 0.2);
    /* Corazón de fondo */
    z-index: -1;
}

/* Ubicación y Botones */
.location-info h3,
.rsvp-info h3 {
    font-family: var(--font-serif);
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: var(--color-text-main);
    text-transform: uppercase;
}

.rsvp-info {
    margin-top: 1rem;
    position: relative;
    z-index: 10;
}

.location-icon {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: var(--color-text-main);
}

address {
    font-style: normal;
    color: var(--color-text-muted);
    line-height: 1.5;
}

/* --- SECCIÓN 1: HERO --- */
.hero-section {
    text-align: center;
    position: relative;
    padding: 4% 1rem 0;

    /* width: 20rem; */
}

.main-circle {
    border-radius: 50%;
    top: -6rem;
    /* min-height: 60vh; */
    color: black;
    margin: auto;
    background-color: white;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* height: 70%; */
    z-index: 10;
    max-width: 20rem;
    /* margin-left: 5.4rem; */
}

.secondary-text {
    color: black;
    font-size: 1.1rem;
}

.floral-decoration.bottom {
    position: relative;
    top: -10rem;
}

.floral-decoration {
    /* width: 20rem; */
}

.main-circle * {
    margin-bottom: 4rem;
}

.verse-container {
    text-align: center;
}

.verse-container img {
    width: 5rem;
    /* height: 5rem; */
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    border-radius: 15px;
    /* Bordes muy redondeados */
    text-decoration: none;
    font-family: 'fuente7';
    font-weight: 100;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    z-index: 10;
}

.fa-solid.fa-heart {
    font-size: 2rem;
    justify-content: right;
    margin-bottom: 0.6rem;
}

.btn-secondary {
    background-color: #7f8c8d;
    /* Gris azulado */
    color: white;
}

.btn-primary {
    background-color: #7f8c8d;
    color: white;
}

.btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

/* --- VISTA DE ESCRITORIO (TRÍPTICO) --- */
@media (min-width: 1024px) {
    .main-circle {}

    .invitation-container {
        max-width: 1200px;
        /* Hacemos el contenedor ancho */
        display: flex;
        /* Los ponemos uno al lado del otro */
        flex-direction: row;
        align-items: stretch;
        padding: 20px;
        gap: 20px;
        margin-top: 2rem;
        /* Espacio entre paneles */
    }


    /* Hacemos que cada sección ocupe el mismo ancho (1/3) */
    .hero-section,
    .multimedia-section,
    .details-section {
        flex: 1;
        width: 33%;
        border-radius: 20px;
        /* Bordes redondeados para que parezcan tarjetas */
        overflow: hidden;
        /* Para que el contenido no se salga */
        height: auto;
        /* Altura automática */
    }

    /* Ajuste específico para la sección central oscura */
    .multimedia-section {
        border-radius: 20px;
    }
}

@media (max-width: 1023px) {
    .invitation-container>* {
        min-height: 100vh;
    }

    html {
        scroll-snap-type: y mandatory;
    }

    .hero-section,
    .multimedia-section,
    .details-section {
        scroll-snap-align: start;
    }
}